* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Header */

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

header h1 {
  font-size: 24px;
  color: #f9faf8;
}

header ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

header a {
  text-decoration: none;
  color: #e5e7eb;
}
