body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-color: #1f2937;
    height: 60px;
}

nav {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 60px;
}

h1, nav ul {
    margin: 0;
    padding: 0 20px;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

nav ul {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero */

h2 {
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero {
    background-color: #1f2937;
    height: 550px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    height: 250px;
    max-width: 480px;
}

.image-holder{
    height: 250px;
    background-color: rgb(156, 154, 154, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
    max-width: 480px;
}

.flex-container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    border-radius: 5px;
    font-weight: 600;
    padding: 6px 25px;
}

/* Information */

.container {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
}

.information .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.information {
    height: 450px;
}

.information h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;

}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 25%; 
}

/* Quote */

.quote {
    background-color: #e5e7eb;
    height: 450px;
}

.quote .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.quote p {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;

}

.quote strong {
    align-self: flex-end;
    max-width: 800px;
    padding-right: 80px;
}


/* Action */

.action {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action .container {
    background-color: #3882f6;
    width: 960px;
    box-sizing: border-box;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 7px;
}

.action-text h4, .action-text p {
    margin: 0;
    color: #f9faf8;
}

.action button {
    margin-left: auto;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 25px;
}